<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Accord" version="3.8.0" targetFramework="net48" />
  <package id="Accord.Imaging" version="3.8.0" targetFramework="net48" />
  <package id="Accord.MachineLearning" version="3.8.0" targetFramework="net48" />
  <package id="Accord.MachineLearning.GPL" version="3.8.0" targetFramework="net48" />
  <package id="Accord.Math" version="3.8.0" targetFramework="net48" />
  <package id="Accord.Statistics" version="3.8.0" targetFramework="net48" />
  <package id="AForge" version="2.2.5" targetFramework="net48" />
  <package id="AForge.Imaging" version="2.2.5" targetFramework="net48" />
  <package id="AForge.Math" version="2.2.5" targetFramework="net48" />
  <package id="AForge.Video" version="2.2.5" targetFramework="net48" />
  <package id="AForge.Video.DirectShow" version="2.2.5" targetFramework="net48" />
  <package id="Castle.Core" version="3.0.0.4001" targetFramework="net48" />
  <package id="Castle.Windsor" version="3.0.0.4001" targetFramework="net48" />
  <package id="EMGU.CV" version="4.1.1.3497" targetFramework="net48" />
  <package id="facenet" version="0.1.10" targetFramework="net48" />
  <package id="FaceSharp" version="3.0.6" targetFramework="net48" />
  <package id="Keras.NET" version="3.8.5" targetFramework="net48" />
  <package id="Microsoft.CSharp" version="4.7.0" targetFramework="net48" />
  <package id="Newtonsoft.Json" version="4.5.5" targetFramework="net48" />
  <package id="Numpy" version="3.11.1.33" targetFramework="net48" />
  <package id="Numpy.Bare" version="3.8.1.25" targetFramework="net48" />
  <package id="OpenCVSharp" version="2.4.0.1" targetFramework="net48" />
  <package id="Python.Deployment" version="2.0.0" targetFramework="net48" />
  <package id="Python.Included" version="3.11.1" targetFramework="net48" />
  <package id="pythonnet" version="3.0.1" targetFramework="net48" />
  <package id="pythonnet_netstandard_py38_win" version="2.5.1" targetFramework="net48" />
  <package id="RestSharp" version="104.0" targetFramework="net48" />
  <package id="System.Drawing.Common" version="7.0.0" targetFramework="net48" />
  <package id="System.Drawing.Primitives" version="4.3.0" targetFramework="net48" />
  <package id="System.Reflection.Emit" version="4.7.0" targetFramework="net48" />
  <package id="System.Runtime" version="4.3.1" targetFramework="net48" />
  <package id="System.Runtime.InteropServices.RuntimeInformation" version="4.3.0" targetFramework="net48" />
  <package id="System.Security.Principal.Windows" version="4.7.0" targetFramework="net48" />
  <package id="Tmds.DBus" version="0.9.1" targetFramework="net48" />
  <package id="ZedGraph" version="5.1.7" targetFramework="net48" />
</packages>